<footer class="footer" id="contact">
  <nav class="navbar fixed-bottom navbar-dark bg-dark mt-auto py-3">
     <span class="text-muted">&copy; copyrihts 2022 All Rights reserved.</span>
  </nav>
  </footer>