<%- include ../partials/header.ejs %> 
<%- include ../partials/main_nav.ejs %> 

    <!--main container-->
    <main class="container padding-top: 60px;">
      <div class="jumbotron">
        <div class="container features">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12">
                  <h3 class="feature-title">Houston payment engine (payU)</h3>
                  <img src="assets/img/payu.png" class="img-fluid">
                  <p>
                    my last recent experience as an engineer was to help build the payment engine of one of the largest payment platforms in the world 
                    and the largest in Latin America, a concurrent system that supports more than 300 TPS and more than 3 million transactions per day, 
                    using state-of-the-art technology and different styles of functional programming, reactive, actor model.
                  </p>
              </div>
              
              <div class="col-lg-4 col-md-4 col-sm-12">
                  <h3 class="feature-title">sherlock Rule engine (payU)</h3>
                  <img src="assets/img/sherlocks.png" class="img-fluid">
                  <p>
                    sherlock a transactional rules engine that allows to determine the best route to execute a transaction, based on business rules and anomaly 
                    detection and analyzing the transactional history of a credit card to determine the best way to increase the approval rate.
                    In its second version we apply artificial intelligence to be able to give it a little more autonomy when selecting the best route, 
                    having incredible results that are reflected in the increase in transaction approvals.
                  </p>
              </div>
              
              <div class="col-lg-4 col-md-4 col-sm-12">
                <h3 class="feature-title">Anomaly detection</h3>
                <img src="assets/img/sherlocks.png" class="img-fluid">
                <p>Anomaly detection system for the payment platform, a system that allows us to determine atypical behavior, however minimal
                   it may be in the approval of transactions, allowing us to act in time to avoid transactional 
                  crashes on our platform, the system is in testing and has only a couple of months to go into production to analyze traffic..</p>
              </div>
          </div>
      </div>
      </div>
    </main>

    <%- include ../partials/bottom_nav.ejs %> 
    <%- include ../partials/footer.ejs %> 
