<%- include ../partials/header.ejs %> 
<%- include ../partials/main_nav.ejs %> 

    <!--main container-->
    <main class="container padding-top: 60px;">
      <div class="jumbotron">
        <div class="container features">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <h3 class="feature-title">architecture Design and Evaluations</h3>
                  <img src="assets/img/architecture.png" class="img-fluid">
              </div>
              <p>
                <p>
                  As a software engineer and architecture specialist, I offer consulting services, design, and evaluation of software architectures with the highest quality standards so that you can have a solid foundation for your systems.
                </p>
                <p>
                  Highly concurrent software design and system creation services, implementation of development cycles and Devops are offered.
              </p>
              <p>
                Create projects, manage resources, track progress, and integrate projects with requests and changes to fine-tune your overall IT service delivery.
              </p>
          </div>
      </div>
      </div>
    </main>

    <%- include ../partials/bottom_nav.ejs %> 
    <%- include ../partials/footer.ejs %> 
