<%- include ../partials/header.ejs %> 
<%- include ../partials/main_nav.ejs %> 

    <!--main container-->
    <main class="container padding-top: 60px;">
      <div class="jumbotron">
        <div class="container features">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12">
                  <img src="assets/img/foto_miguel_suevis.jpg" class="figure-img img-fluid rounded">
              </div>
              
              <div class="col-lg-8 col-md-4 col-sm-12">
                  <h3 class="feature-title">Software Engineer</h3>
                  <p>
                  I am a software engineer passionate about building high quality software, I’m currently working as a Tech Lead at PayU, 
                  where I am in charge of leading a team to deliver technical and product projects for our payments platform. 
                  I'm knowledgeable in technologies such as: Java, Scala, micro-services architectures, 
                  TDD, Docker, SQL Engineer like POSTGRE_SQL, ORACLE, and NO-SQL like mongoDB, redis, Cassandra.</p>
                  <h3 class="feature-title">My passion</h3>
                  <p>
                  I love reading a good book, enjoying a sunny day with my family, and always being able to learn new things. 
                  My hobbies include hiking outdoors, driving and going out to see new places. I love food and restaurants. 
                  Going out to eat is always a good excuse to have a good time.
                  </p>

                  <h3 class="feature-title">My interests</h3>
                  <p>
                  Among my interests are software architectures, I am passionate about good designs, and well written codes, 
                  another of my interests is the kitchen I love to cook and learn from this art.
                  </p>
              </div>
              
              <div class="col-lg-4 col-md-4 col-sm-12">
              
              </div>
          </div>
      </div>
      </div>
    </main>

    <%- include ../partials/bottom_nav.ejs %> 
    <%- include ../partials/footer.ejs %> 
