<%- include ../partials/header.ejs %> 
<%- include ../partials/main_nav.ejs %> 

    <!--main container-->
    <main class="container padding-top: 60px;">
      <div class="jumbotron">
        <div class="container features">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <h3 class="feature-title">architecture Design and Evaluations</h3>
                  <img src="assets/img/architecture.png" class="img-fluid">
              </div>
              <p>
                <p>
                  architect and engineer scalable and high-performing software solutions to meet the business challenges of our clients.

                  Using my tech expertise and cross-industry experience, I evolve digital transformation into digital acceleration. My ultimate goal is to create lasting value throughout the entire digital transformation journey.
                  
                   Working for clients like Google, Rolls-Royce, Johnson & Johnson, Pinterest, and ViacomCBS, I’ve been reimagining the tech landscape for over a decade.
                </p>
          </div>
      </div>
      </div>
    </main>

    <%- include ../partials/bottom_nav.ejs %> 
    <%- include ../partials/footer.ejs %> 
